
<html>
    {% load static %}
    <head>
        <link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Times+New+Roman' rel='stylesheet' type='text/css'>
    

    <nav id="menuVertical">
        <ul>

            <li><a href="">Меню</a>
                <ul>
                    <li><a href="./about.html" >Услуги</a></li>
                    <li><a href="./main_menu.html" >Главное меню</a></li>
                    <li><a href="./form_telegram.html" >Отзыв</a> </li>
                    <li><a href="./valid.html" >Регистрация</a> </li>
                    <li><a href="./form_telegram.html.html" >Контакт</a> </li>
                    <li><a href="./feedback.html.html" >Комментарий</a> <br></li>
                </ul>
            </li>
        </ul>
    </nav><!--menuVertical-->
    <img src="https://sun9-77.userapi.com/s/v1/if2/d_Q1_RL-I8SmtOUWPOE-g5GxQxXoQ8tDlgACeU2U8XQmk2XP5YopFjGaJ764Y3dA0B-QaiXXgEPNtSFxu02OW-qU.jpg?size=1500x500&quality=96&type=album" width="750" height="250" />

    </head>
    
    <body>
    <main class="content">
    
    <h1> Написание коммерческой музыки на заказ </h1>
    
    <div>
    <p>
    <strong>Навигация: </strong>
    
    <ol>
    
    <li><a href="#intro">Вступление</a></li>
    <li><a href="#work">Как работаем?</a></li>
    <li><a href="#video">Видео-пример трека на мой бит</a></li>
    
    </ol>
    </p>
    </div>
    
    <div id = "intro"> 
    <p>
        <strong>Напишу музыку в следующих стилях:</strong> 
        <ul> 
    
    <li>Dark Trap (Southside, Lil Durk, King Von Type Beat)</li>
    
    <li>Melodic Trap (Rod Wave, Polo G, NoCap Type Beat)</li>
    
    <li>Emo Trap/Alternative Rock (Lil Peep Type Beat)</li>
    
    </ul>
    </p>
    
    </div>
    
    
    
    <div id = "work"> 
    <p>
        <strong>Как работаем?</strong> 
        <ol> 
    
    <li>Вы объясняете, какой вам нужен бит (жанр, bpm, настроение, стиль, на кого из артистов/битмейкеров похоже и т.д). Бит может быть сделан с вашим семплом, из вашего проекта, под акапеллу, из какого-то из моих битов, который не продан эксклюзивом и т.д.</li>
    
    <li>Скидываете мне 3-5 треков, которые вам нравятся. Это нужно, чтобы понять ваши музыкальные предпочтения, осознать, в какой звук требуется идти.</li>
    
    <li>Если мне понятна идея, я берусь за работу (с 50% предоплатой).</li>
    
    <li>В процессе написания бита идет совместное обсуждение работы и показ её демо версий.</li>
    
    <li>Финальную версию я показываю с тегами\лоуквалити\либо же фрагментами. Разрешено вносить не более 5 правок в финальную версию.</li>
    
    <li>После того, как работа будет вами одобрена, я высылаю её вам на почту в архиве, в форматах: mp3, wav, wav-trackout.</li>
    
    
    </ol>
    </p>

    <p>
        <strong>Важные моменты:</strong> 
        <ul> 
    
    <li>Если я принялся за работу, но позднее уведомил вас, что доделать ее не имею возможности - отправляю предоплату обратно.</li>
    
    <li>Если я принялся за работу, но на определенном этапе вы отказываетесь от услуги (не понравился финальный бит\передумали по иным причинам) - предоплата не возвращается.</li>
    
    <li>Бит не публикуется мной нигде, не добавляется в каталоги, не продается (ни в лизинг, ни в эксклюзив) никому, кроме заказчика.</li>
    
    <li>Полные права на инструментал переходят к вам, кроме авторства (авторство остается за мной).</li>
    
    <li>Указание авторства в названии трека: «Name Track (prod. by Kokurcho)» обязательно.</li>
    
    </ul>
    
    </p>
    
    </div>
    <div id = "video"> 
    <p>
        <strong>Пример трека на мой бит:<br><br></strong> 
        <iframe width="500" height="315" src="https://www.youtube.com/embed/dgNaVrJCYiQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </video>
    </p>
    
    </div>
    
    <div class="sidebar">
      <p><a class="menuButton" href="https://www.instagram.com/kokurcho/">Сделать заказ</a></p>
    </div>
    
    </main>
    </body>
    </html>
    