<html>
    {% load static %}
<head>
	<link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Times+New+Roman' rel='stylesheet' type='text/css'>

<nav id="menuVertical">
    <ul>

        <li><a href="">Меню</a>
            <ul>
                <li><a href="./about.html" >Услуги</a></li>
                <li><a href="./main_menu.html" >Главное меню</a></li>
                <li><a href="./form_telegram.html" >Отзыв</a> </li>
                <li><a href="./valid.html" >Регистрация</a> </li>
                <li><a href="./form_telegram.html.html" >Контакт</a> </li>
                <li><a href="./feedback.html.html" >Комментарий</a> <br></li>
            </ul>
        </li>
    </ul>
</nav><!--menuVertical-->


<body>
<a href="./about.html" >Услуги</a>
<a href="./main_menu.html" >Главное меню</a>


<h1> Контактная информация: </h1>
<div>

<p class = "oswald"> 
Телефон: <strong>+7(930)836-92-55 </strong> <br>
Email: <strong>kokurindmitry911@gmail.com</strong><br>

<a href="https://instagram.com/kokurcho" target="_blank"><strong>Инстаграм</strong></a><br>

<a href="https://vk.com/miet.university" target="_blank"><strong>Группа ВК</strong></a><br>


<a href="https://kokurcho.com" target="_blank"><strong>Мой сайт</strong></a><br>
</p>


</div>

</body>
</html>