<html>
    {% load static %}
<head>
	<link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Times+New+Roman' rel='stylesheet' type='text/css'>

<nav id="menuVertical">
    <ul>

        <li><a href="">Меню</a>
            <ul>
                <li><a href="./about.html" >Услуги</a>
</li>
                <li><a href="./main_menu.html" >Главное меню</a></li>
                <li><a href="./form_telegram.html" >Отзыв</a> </li>
                <li><a href="./valid.html" >Регистрация</a> <br></li>
            </ul>
        </li>
    </ul>
</nav><!--menuVertical-->


<body>
<a href="./about.html" >Услуги</a>
<a href="./main_menu.html" >Главное меню</a>
<div class="main">

    <div class="container">
        <h1 align="center">Kokurcho</h1>

        {% comment %}<script>
            const send = function () {
            let name = document.getElementById('name').value;
            let mes = document.getElementById('mes').value;
            let url = `https://api.telegram.org/bot5125225764:AAFO3f9kvH1RKCPM8S2T_J1aF-U9KTHn4fw/sendMessage?chat_id=-601508004&text=user ${name} send ${mes}`;

            let XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
            let xhr = new XHR();
            xhr.open('GET', url, true);
            xhr.send();
            }
        </script>{% endcomment %}


        <form method="POST">

            {{ comment }}


        </form>
        <button onclick="sendComment()">send</button>

        <div id="comments">

        </div>


    </div>
    <script>
        const comments = document.getElementById('comments')
        async function sendComment(){

            const commentForm = document.forms[0];
            const email = commentForm.email.value;
            const contents = commentForm.contents.value;

            try {

                await fetch('/create_comment/', {
                    method: 'POST',
                    mode: 'no-cors',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        email: email,
                        contents: contents,
                        })
                });
                await fetchComments();

            }
            catch (e) {
                alert(e);
            }
        }

        async function fetchComments() {
            comments.innerHTML = "";

            try {
                await fetch('/get_comment/', {
                    "method": "GET",
                    "mode": "no-cors",
                }).then(async (response) => {
                    response.json().then(data => {
                        data.forEach(comment => {
                            const commentElement = document.createElement("div");
                            const commentHeading = document.createElement("h1");
                            const commentBody = document.createElement("p");

                            commentBody.innerText = comment.contents;
                            commentHeading.innerText = comment.email;
                            commentElement.appendChild(commentHeading);
                            commentElement.appendChild(commentBody);
                            comments.appendChild(commentElement);
                         });

                    })
                });
            }
            catch (e) {
                alert(e);
            }
        }


        fetchComments();
    </script>

</div>

</body>
</html>