<html>
    {% load static %}
<head>
    <link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Times+New+Roman' rel='stylesheet' type='text/css'>


</head>
<body>
<h1>Главное меню</h1>
  <!-- Комментарий -->
    <p><a href="./about.html" ><strong>Услуги</strong></a><br></p>
    <p><a href="./contact.html.html" ><strong>Контакты</strong></a><br></p>
    <p><a href="./valid.html" ><strong>Регистрация</strong></a><br></p>
    <p><a href="./form_telegram.html" ><strong>Отзыв</strong></a><br></p>
    <p><a href="./feedback.html" ><strong>Комментарии</strong></a><br></p>

</body>
</html>
