<html>
    {% load static %}
<head>
    <link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Times+New+Roman' rel='stylesheet' type='text/css'>


</head>

<body>
    <main class="content">
        <section>
            <h1>Главное меню</h1>
            <p><a href="./about.html" ><strong>Услуги</strong></a><br></p>
            <p><a href="./contact.html.html" ><strong>Контакты</strong></a><br></p>
            <p><a href="./valid.html" ><strong>Регистрация</strong></a><br></p>
            <p><a href="./form_telegram.html" ><strong>Отзыв</strong></a><br></p>
            <p><a href="./feedback.html" ><strong>Комментарии</strong></a><br></p>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit mollitia quis ad consectetur. Quibusdam nostrum minus error unde voluptatibus porro veritatis dicta blanditiis doloribus, molestiae dolorum explicabo repellat reiciendis accusantium obcaecati ratione iste mollitia quis ipsum quaerat.
            </p>
            <button id="toggleThemeBtn">Сменить тему на тёмную</button>
        </section>
    </main>
    <script src="static/js/change_theme_script.js"></script>
</body>
</html>
